<div class="container-fluid">
  <hr />
  <div class="col-12">
    <img class="card-img-top" src="../../../assets\vivero.png" alt="Card image cap" height="200px">
  </div>
  <div class="col-8">
    <table class="table table-hover">
      <thead background-color="#413E3E">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Común</th>
          <th scope="col">Tipo</th>
          <th scope="col">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of plantas">
          <td>
            <dd scope="col">{{p.id}}</dd>
          </td>
          <td>
            <dd>{{p.nombre_comun}}</dd>
          </td>
          <td>
            <dd>{{p.tipo}}</dd>
          </td>
          <td>
            <dd>{{p.clima}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



